# Cargar conjunto de datos a traves de read_csv

In [13]:
%config IPCompleter.greedy=True
import pandas as pd
import os

mainpath = "/Users/nano1/Dropbox/CursoDeMachineLearningConPython/python-ml-course-master/datasets"
filename = "titanic/titanic3.csv"
#fullpath = mainpath + "/" + filename
fullpath = os.path.join(mainpath, filename)
data = pd.read_csv(fullpath)
data.head()

In [14]:
mainpath = "/Users/nano1/Dropbox/CursoDeMachineLearningConPython/python-ml-course-master/datasets"
filename = "titanic/titanic3.csv"
#fullpath = mainpath + "/" + filename
fullpath = os.path.join(mainpath, filename)

In [15]:
data = pd.read_csv(fullpath)
data.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [5]:
data2=pd.read_csv(mainpath + "/" + "customer-churn-model/Customer Churn Model.txt")

In [90]:
data2.columns.values

array(['State', 'Account Length', 'Area Code', 'Phone', "Int'l Plan",
       'VMail Plan', 'VMail Message', 'Day Mins', 'Day Calls',
       'Day Charge', 'Eve Mins', 'Eve Calls', 'Eve Charge', 'Night Mins',
       'Night Calls', 'Night Charge', 'Intl Mins', 'Intl Calls',
       'Intl Charge', 'CustServ Calls', 'Churn?'], dtype=object)

In [16]:
data_cols = pd.read_csv(mainpath + "/" + "customer-churn-model/Customer Churn Columns.csv")
# En Customer Churn Columns.csv se encuentra el listado de las cabeceras del archivo
data_cols_list = data_cols["Column_Names"].tolist() # Se carga la columna con los nombres de las cabeceras
# Column_Names y con .tolist() se las convierte a una lista
data2=pd.read_csv(mainpath + "/" + "customer-churn-model/Customer Churn Model.txt", header = None, names = data_cols_list)
# header = None porque no se va a tomar ninguna de las filas como cabecera
# names = data_cols_list indica el nombre de las cabeceras

In [17]:
data2.columns.values

array(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M',
       'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U'], dtype=object)

# Carga de datos a través de la función open de python

In [37]:
data3=open(mainpath + "/" + "customer-churn-model/Customer Churn Model.txt", "r") # se abre como lectura

In [38]:
cols = data3.readline().strip().split(",")
#cols

In [39]:
n_cols = len(cols)
#n_cols

In [40]:
counter = 0
main_dict = {}
for col in cols:
    main_dict[col]=[]  # El diccionario tiene en cada elemento los nombres de las columnas con un array vacío

#main_dict
    
for line in data3:                            #line no es un comando, es un identificador, se coloco cualquier otro nombre
    values = line.strip().split(",")          # va a leer lo mismo las filas
    for i in range(len(cols)):
        main_dict[cols[i]].append(values[i])
    counter += 1

print("El registro tiene %d filas, y %d columnas"%(counter, n_cols))

El registro tiene 3333 filas, y 21 columnas

In [47]:
df3 =pd.DataFrame(main_dict) 
""" función de pandas, se obtiene el mismo resultado que con pd.csv_read pero  con una carga manual, 
esto conviene cuando el set de datos es muy grande porque cargamos una fila a la vez, en cambio 
pandas carga todo de una sola vez """
#df3.head()

' función de pandas, se obtiene el mismo resultado que con pd.csv_read pero  con una carga manual, \nesto conviene cuando el set de datos es muy grande porque cargamos una fila a la vez, en cambio \npandas carga todo de una sola vez '

# Lectura y escritura de ficheros

In [88]:
infile = mainpath + "/" + "customer-churn-model/Customer Churn Model.txt"
outfile = mainpath + "/" + "customer-churn-model/tab Customer Churn Model.txt"

In [89]:
with open(infile, "r") as infile1:  #No es necesario colocar "r" porque asume por defecto que es de lectura
    with open(outfile, "w") as outfile1:
        for line in infile1:
            fields = line.strip().split(",")
            outfile1.write("\t".join(fields))
            outfile1.write("\n")

In [90]:
df4 = pd.read_csv(outfile, sep = "\t")
#df4.head()

# # Leer datos desde una URL

In [4]:
medals_url ="http://winterolympicsmedals.com/medals.csv"
medals_data = pd.read_csv(medals_url)
medals_data.head()

NameError: name 'pd' is not defined

In [3]:
import urllib3
http = urllib3.PoolManager()
r = http.request('GET', medals_url)#, preload_content=False)
print("El estado de la respuesta es %d" %(r.status))
response = r.data
#r.data
#response

NameError: name 'medals_url' is not defined

In [105]:
#respuesta="".join(map(chr,response))
#respuesta = respuesta.split('\n')
#for file in respuesta:
#    print(file)

In [2]:
str_data = response.decode("utf-8")
lines = str_data.split("\n")
col_names = lines[0].split(",")
n_cols = len(col_names)
col_names
#lines

NameError: name 'response' is not defined

In [1]:
contador =0
diccionario = {}
for col in col_names:
    diccionario[col]=[]
#diccionario
#print(lines)
for line in lines:
    if contador>0:
        valor = line.strip().split(",")
        #print(valor)
        for i in range(n_cols):
            diccionario[col_names[i]].append(valor[i])
    contador += 1
print("El data set tiene %d filas y %d columnas"%(contador, n_cols))
df_olimpico = pd.DataFrame(diccionario)
print(df_olimpico[1])

NameError: name 'col_names' is not defined